/* COLOUR SCHEME
Green : (88, 140, 126,), (#588C7E)
Yellow: (242, 227, 148), (#F2E394);
Orange: (242, 174, 114),(#F2AE72);
Red:(217, 100, 89),(#D96459);
Crimson:(140, 70, 70),(#8C4646);
*/

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* opaque well on the home section */
#home .well {
  background-color: rgba(88, 140, 126, 0.5); 
}

/* profile section */
#profile {
  background-color: #F2E394;
  color: #ffffff;
}
#profile .img-responsive {
  max-height: 483px;
  max-width: 345px;
}

/* technical skills section */
#techskills {
  background-color: #F2AE72;
  color: #ffffff;
}
#techskills .ability-score {
  float: right;
}

/* experience section */
#experience {
  background-color: #D96459;
  color: #ffffff;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* dividing line */
.divider {
  border-bottom: 1px solid #FFFFFF;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}
.text-vcenter h3 {
  color: white;
}

/* additional sections */
#home {
  background: url(../images/green_budding_plant.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#link1 {
}

#link2 {
  background-color: #306d9f;
  color: #ffffff;
}
#link2 .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#link3 {
  background: url(../images/moon_rise.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#link3 .panel {
  opacity: 0.85;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

/*vignet for the project image*/
p.vignette {
  position: relative;
}
p.vignette img {
 display: block;
}
p.vignette:after {
 -moz-box-shadow: inset 0 0 2em #666;  
 -webkit-box-shadow: inset 0 0 2em #666;   
 box-shadow: inset 0 0 2em #666;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}
p.vignette:hover:after {
 -moz-box-shadow: inset 0 0 20em #666;  
 -webkit-box-shadow: inset 0 0 20em #666;   
 box-shadow: inset 0 0 20em #666;
}