/* COLOUR SCHEME
Green : (88, 140, 126,), (#588C7E)
Yellow: (242, 227, 148), (#F2E394);
Orange: (242, 174, 114),(#F2AE72);
Red:(217, 100, 89),(#D96459);
Crimson:(140, 70, 70),(#8C4646);
*/

/* general style */
html, body {
  height: 100%;
  width: 100%;
  min-width:400px;
  width: auto !important;
  width:400px;             /* As IE ignores !important it will set width as 1000px; */
}

/* Fonts */
h1, h2, h3, h4, p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* custom navbar colors */
.navbar-default {
  background-color: #f2e394;
  border: none;
}
.navbar-default .navbar-brand {
  color: #588c7e;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #588c7e;
}
.navbar-default .navbar-text {
  color: #588c7e;
}
.navbar-default .navbar-nav > li > a {
  color: #588c7e;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #588c7e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #588c7e;
  background-color: #f2ae72;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #588c7e;
  background-color: #f2ae72;
}
.navbar-default .navbar-toggle {
  border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f2ae72;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #588c7e;
}
.navbar-default .navbar-collapse, .navbar-collapse:focus,
.navbar-default .navbar-form {
  border-color: #588c7e;
}
.navbar-default .navbar-link {
  color: #588c7e;
}
.navbar-default .navbar-link:hover {
  color: #588c7e;
}

/* sections */
#home {
  background: url(../images/green_budding_plant.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* opaque well on the home section Green */
#home .well {
  background-color: rgba(88, 140, 126, 0.6); 
  border: none;
}

/* profile section Yellow*/
#profile {
  background-color: #588C7E;
  color: #ffffff;
}
#profile .img-responsive {
  max-height: 483px;
  max-width: 345px;
}

/* technical skills section Orange*/
#techskills {
  background-color: #F2AE72;
  color: #ffffff;
}
#techskills .ability-score {
  float: right;
      -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     display: inline-block;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
#techskills .ability-score:hover {
  color: #FFFFFF !important;
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    .scale(1.1,1.1);
}

/* experience section Red*/
#experience {
  background-color: #D96459;
  color: #ffffff;
}

/* projects section Crimson*/
#projects {
  background-color: #8C4646;
  color: #ffffff;
}

/* contact section Green*/
#contact {
  background-color: #588C7E;
  color: #ffffff;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* dividing line */
.divider {
  border-bottom: 1px solid #FFFFFF;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  color: white;
  margin: 0;
  padding: 0;
}
.text-vcenter h3 {
  color: white;
}

/*vignet for the project image*/
p.vignette {
  position: relative;
}
p.vignette img {
 display: block;
}
p.vignette:after {
 -moz-box-shadow: inset 0 0 4em #8C4646;  
 -webkit-box-shadow: inset 0 0 4em #8C4646;   
 box-shadow: inset 0 0 4em #8C4646;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}
p.vignette:hover:after {
 -moz-box-shadow: inset 0 0 10em #8C4646;  
 -webkit-box-shadow: inset 0 0 10em #8C4646;   
 box-shadow: inset 0 0 10em #8C4646;
}

/* Email Link */
a[href^="mailto"] { color: #F2E394; }

/* Github link */
a[href^="https://github.com/leonnorth"] { 
  color: #FFFFFF; 
}

/* tech skills popover */
.popover{
  width: 200%;
  background: rgb(140, 70, 70);
  color: #FFFFFF;
}
.popover-title{
  background: rgb(242, 227, 148);
  color: #588C7E;
}
.list-group-item{
  background: rgb(140, 70, 70);
  color: #FFFFFF;
  border-color: #7C3636;
}

.gitPanel{
  background-color: rgba(128, 128, 128, 0.2); 
  border: none;
}